{% extends 'base.html' %}

{% block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

<script src='css/main.css'></script>

{%endblock %}

{% block body%}

<div align=center>
    <img src="/static/pics/democracyBtn.png" alt="democracy"/>
</div>
<br>
<br>

<div>
    <form method="POST">
    <table border=0 width="100%">
            <tr>
                <td></td>
                <!--TD UP-->
                <td align=center>
                    <div>
                        <button name="controller" value="up" id="up"><img src="/static/pics/arrow_up.png" alt="up"/></button>
                        <!--<label for="up">Up</label>-->
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <!--TD LEFT-->
                <td align=right width="40%">
                    <div>
                        <button name="controller" value="left" id="left"><img src="/static/pics/arrow_left.png" alt="left"/></button>
                        <!--<label for="left">Left</label>-->
                    </div>
                </td>
                <td width="20%"></td>
                <!--TD RIGHT-->
                <td width="40%">
                    <div>
                        <button name="controller" value="right" id="right"><img src="/static/pics/arrow_right.png" alt="right"/></button>
                        <!--<label for="right">Right</label>-->
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <!--TD DOWN-->
                <td align=center>
                    <div>
                        <button name="controller" value="down" id="down"><img src="/static/pics/arrow_down.png" alt="down"/></button>
                        <!--<label for= "down">Down</label> -->
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
        <table border=0 width="100%">
            <tr>
                <!--TD A-->
                <td align=center>
                    <div>
                        <button name="controller" value="a" id="a"><img src="/static/pics/Abutton_big.png" alt="a"/></button>
                        <!--<label for="a">A</label>-->
                    </div>
                </td>
                <!--TD B-->
                <td align=center>
                    <div>
                        <button name="controller" value="b" id="b"><img src="/static/pics/Bbutton_big.png" alt="b"/></button>
                        <!--<label for="b">B</label>-->
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

{%endblock %}
