{% extends 'base.html' %}

{% block head%}

{%endblock %}

{% block body%}
<div>

    <form action="/" method="POST">

        <div width="100%" align=center>
            <button name="mode" value="democracy" id="demo"><img src="/static/pics/democracyBtn.png" alt="democracy"/></button>
            <!--<label for="demo">Democratie</label>-->
        </div>
        <br>
        <div width="100%" align=center>
            <button name="mode" value="anarchy" id="anar"><img src="/static/pics/anarchyBtn.png" alt="anarchy"/></button>
            <!--<label for= "anar">Anarchie</label> -->
        </div>
    </form>
</div>



{%endblock %}
